.input{
    border: 1px solid #e2e0e0;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 10px 15px;
    background: transparent;
}
.input:focus{
    outline: 2px solid rgba(41, 85, 239, 0.7);
    border-color: transparent;
}
label{
    color: #505050;
}
.quantity-input{
    display: inline-block;
    width: 60px;
    font-size: 14px;
    height: 30px;
    padding: 0 3px;
    border: 1px solid #dbdada;
    border-radius: 5px;
}
.quantity-input:focus{
    border-color: transparent;
    outline: 2px solid #ffc107;
}
.my-btn-success{
    border: none;
    background: #22c55e;
    color: #ffffff;
    border-radius: 17px;
    padding: 5px 18px;
    font-size: 14px;;
}